
<h2>UpdateBook</h2>


<form id="UpdateBookForm">
        <h4>Book</h4>
        <hr />

    <div class="form-horizontal">

        <!--書籍名稱-->
        <div class="form-group">
            <label class="control-label col-md-2" for="BOOK_NAME">書籍名稱</label>
            <div class="col-md-10">
                <input class="k-textbox" data-val="true" data-val-required="此欄位必填" id="BOOK_NAME" name="BOOK_NAME" type="text" required/>
            </div>
        </div>

        <!--書籍作者-->
        <div class="form-group">
            <label class="control-label col-md-2" for="BOOK_AUTHOR">書籍作者</label>
            <div class="col-md-10">
                <input class="k-textbox" data-val="true" data-val-required="此欄位必填" id="BOOK_AUTHOR" name="BOOK_AUTHOR" type="text" required/>
            </div>
        </div>

        <!--出版商-->
        <div class="form-group">
            <label class="control-label col-md-2" for="BOOK_PUBLISHER">出版商</label>
            <div class="col-md-10">
                <input class="k-textbox" data-val="true" data-val-required="此欄位必填" id="BOOK_PUBLISHER" name="BOOK_PUBLISHER" type="text"required />
            </div>
        </div>

        <!--內容簡介-->
        <div class="form-group">
            <label class="control-label col-md-2" for="BOOK_NOTE">內容簡介</label>
            <div class="col-md-10">
                <textarea class="k-textbox" cols="30" data-val="true" data-val-required="此欄位必填" id="BOOK_NOTE" name="BOOK_NOTE" rows="4" required></textarea>
            </div>
        </div>

        <!--購書日期-->
        <div class="form-group">
            <label class="control-label col-md-2" for="BOOK_BOUGHT_DATE">購書日期</label>
            <div class="col-md-10">
                <input type="text" data-role='datepicker' data-type="date" class="form-control" id="BOOK_BOUGHT_DATE" name="BOOK_BOUGHT_DATE" style="text-align:left" required validationMessage="請輸入購入日期" />
            </div>
        </div>

        <!--圖書類別-->
        <div class="form-group">
            <label class="control-label col-md-2" for="BOOK_CLASS_ID">圖書類別</label>
            <div class="col-md-10">
                <input id="BookClassId" name="BOOK_CLASS_ID" required validationMessage="請輸入圖書類別" />
            </div>
        </div>

        <!--借閱狀態-->
        <div class="form-group">
            <label class="control-label col-md-2">借閱狀態</label>
            <div class="col-md-10">
                <input id="BookStatus" name="BookStatus" required/>
            </div>
            <input type="hidden" id="originalBookStatus" />
        </div>

        <!--借閱人-->
        <div class="form-group">
            <label class="control-label col-md-2">借閱人</label>
            <div class="col-md-10" id="BookKeeperDisplay">
                <input id="BookKeeper" name="BookKeeper" />
            </div>
       </div>

        <!--儲存及刪除按鈕-->
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button class="btn btn-default"><a href="/Book">Back to List</a></button>
            </div>
            <div class="col-md-2 ">
                <input class="btnSave btn btn-default" value="儲存" />
            </div>
            <div class="col-md-2 ">
                <button class="btnDelete btn btn-default" href="#">刪除</button>
                <input type="hidden" id="hideBookId" />
            </div>
        </div>
    </div>
    
</form>
<script>
    $(document).ready(function () {
        //get url
        var urlSplit = window.location.href.split("/");
        //get book ID
        var bookId = urlSplit[5];
        //set book ID
        $("#hideBookId").val(bookId);

        //use ajax to get dropdownlist data
        function ajaxForUpdateDropdownList(type, bookValue) {
            $.ajax({
                type: "GET",
                url: "/Book/GetDropdownList",
                data: "type=" + type,
                dataType: "json",
                success: function (response) {
                    if (type === "BookStatus") {
                        setBookStatusList(response, bookValue);
                    }
                    else {
                        setUpdateClassList(response, type, bookValue);
                    }
                    console.log("Get " + type + " dropdownlist data .");
                }
            });
        }

        //setup update page's dropdownlist( keeper , bookClass )
        function setUpdateClassList(drpData, type, bookValue) {
            var idName = '#' + type;
            console.log("drpData : " + drpData);
            $(idName).kendoComboBox({
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: JSON.parse(drpData),
                filter: "contains",
                suggest: true,
                value: bookValue
            });
        }

        //setup update page's dropdownlist - bookstatus
        function setBookStatusList(drpData, bookValue) {
            $('#BookStatus').kendoComboBox({
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: JSON.parse(drpData),
                filter: "contains",
                suggest: true,
                value: bookValue,
                change: function (e) {
                    var value = this.value();
                    BookKeeperDisplay(value);
                }
            });
        }

        //Keeper display when status is "B" "C"
        function BookKeeperDisplay(choose) {
            if (choose === "A" || choose === "U") {
                $('#BookKeeperDisplay').hide();
            } else {
                $('#BookKeeperDisplay').show();
            }
        }


       
        $.ajax({
            type: "GET",
            url: "/Book/GetUpdateBook/" + bookId,
            dataType: "json",
            success: function (response) {
                console.log(response);
                //set book value
                $('#BOOK_NAME').val(response.BOOK_NAME);
                $('#BOOK_AUTHOR').val(response.BOOK_AUTHOR);
                $('#BOOK_PUBLISHER').val(response.BOOK_PUBLISHER);
                $('#BOOK_NOTE').val(response.BOOK_NOTE);
                $('#BOOK_BOUGHT_DATE').val(response.BOOK_BOUGHT_DATE);
                $('#BOOK_CLASS_ID').val(response.BOOK_CLASS_ID);
                $('#BOOK_STATUS').val(response.BOOK_STATUS);
                $('#originalBookStatus').val(response.BOOK_STATUS);
                BookKeeperDisplay(response.BOOK_STATUS);
                $('#BOOK_KEEPER').val(response.BOOK_KEEPER);

                //set up BookClassId , BookKeeper , BookStatus DropdownList
                var bookClass = ajaxForUpdateDropdownList("BookClassId", response.BOOK_CLASS_ID);
                var keeperClass = ajaxForUpdateDropdownList("BookKeeper", response.BOOK_KEEPER);
                var statusClass = ajaxForUpdateDropdownList("BookStatus", response.BOOK_STATUS);

            }
        });
        //transfor input to DatePicker
        $("#BOOK_BOUGHT_DATE").kendoDatePicker({
            format: "yyyy/MM/dd",
            max: new Date()
        });

        //check data is vaildator or not
        var validator = $("#UpdateBookForm").kendoValidator({
            rules: {
                datepicker: function (input) {
                    if (input.is("[data-role=datetimepicker]")) {
                        return input.data("kendoDateTimePicker").value();
                    } else {
                        return true;
                    }
                }
            }
        }).data("kendoValidator");

        //Save update book
        $('.btnSave').click(function (event) {
            event.preventDefault();
            var status = $('#BookStatus').val();
            if (status === "A" || status === "U") {
                $('#BookKeeper').attr("required", false);
            }
            else {
                $('#BookKeeper').attr("required", true);
            }
            if (validator.validate()) {
                var bookModel = {
                    BOOK_ID: bookId,
                    BOOK_NAME: $('#BOOK_NAME').val(),
                    BOOK_AUTHOR: $('#BOOK_AUTHOR').val(),
                    BOOK_PUBLISHER: $('#BOOK_PUBLISHER').val(),
                    BOOK_NOTE: $('#BOOK_NOTE').val(),
                    BOOK_BOUGHT_DATE: $('#BOOK_BOUGHT_DATE').val(),
                    BOOK_CLASS_ID: $('#BookClassId').val(),
                    BOOK_STATUS: $('#BookStatus').val(),
                    BOOK_KEEPER: $('#BookKeeper').val()
                };
                console.log(bookModel);
                $.ajax({
                    type: "POST",
                    url: "/Book/UpdateBook",
                    data: bookModel,
                    dataType: "json",
                    success: function (response) {
                        alert("更新成功!");
                        window.location.pathname = "/Book";
                    },
                    error: function (response) {
                        alert("更新失敗!");
                    }
                });
            }
        });

        //Delete Book
        $('.btnDelete').click(function (e) {
            var value = bookId;
            console.log("Book ID : " + bookId);
            console.log("Book ID(hidden): " + $("#hideBookId").val());

            //check original book status
            if ($('#originalBookStatus').val() === "B" || $('#originalBookStatus').val() === "C") {
                alert("已借出的書籍不可刪除! 請先修改狀態 ");
                window.location.pathname = "/Book/UpdateBook/" + bookId;
            }
            else {
                var choose = confirm("是否刪除 ? ");
                if (choose == true) {
                    $.ajax({
                        type: "POST",
                        url: "/Book/DeleteBook",
                        data: "bookId=" + bookId,
                        dataType: "json",
                        success: function (response) {
                            alert("刪除成功");
                            $(location).attr('href', '/Book');
                        }
                    });

                }
            }

        });
        });

</script>
