<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!--css import-->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo.material.min.css" rel="stylesheet"/>
    <link href="~/Content/kendo.default.min.css" rel="stylesheet" />
    @*<link href="~/Content/kendo.black.min.css" rel="stylesheet" />*@
    <link href="~/Content/kendo.common.min.css" rel="stylesheet" />@*一定要用*@
    <link href="~/Content/kendo.material.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.dataviz.blueopal.min.css" rel="stylesheet" />

    
    <!--js import-->
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/kendo.web.min.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
        
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("圖書管理系統", "Index", "Book", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script>
        // Dropdownlist set up ( insert & index)
        function ajaxForDropdownList(type) {
            $.ajax({
                type: "GET",
                url: "/Book/GetDropdownList",
                data: "type=" + type,
                dataType: "json",
                success: function (response) {
                    setClassList(type, response);
                    console.log("Get " + type + " dropdownlist data .");
                }
            });
        }
        
        function setClassList(type, drpData) {
            var idName = '#' + type;
            $(idName).kendoComboBox({
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: JSON.parse(drpData),
                filter: "contains",
                suggest: true,
                index: 0
            });
        }

        //delete alert and check book status
        function deleteAlert( originalStatus , bookId , paraOfMethod, method) {
            if (originalStatus === "B" || originalStatus === "C") {
                alert("已有人借閱不能刪除!");
            }
            else {
                if (confirm("是否確定刪除?")) {

                    $.ajax({
                        type: "POST", //POST or GET
                        url: "/Book/DeleteBook",// 發送請求的url
                        data: "bookId=" + bookId,//傳給server 的data
                        dataType: "json", //傳回的數據類型 ,可為xml,html,text....
                        success: function (response) {
                            method(paraOfMethod);
                            alert("刪除成功");
                           
                        }, error: function (error) {
                            alert("系統發生錯誤");
                        }
                    });
                    return false;
                }
            }

        }

        //redirect page function
        function redirectPage(path) {
            $(location).attr('href', path);
        }
    </script>

</body>
</html>